// import resets and theme
@import '/styles/_resets';
@import './styles/theme';




body {
  font-family: $common_font, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
